.btn {
    height: 6rem;
    width: 10rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Bubblegum Sans', sans-serif;
    border-width: 5px;
    border-radius: 30px;
    border-color: black;
    background-color: hsl(200, 100%, 50%);
}

.btn:hover {
    background-color: hsl(200, 100%, 40%);
    cursor: pointer;
    font-weight: 400;
}

.landing-container {
    display: flex;
    flex-direction: column;
}