.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.states {
    display: flex;
}

.problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background-color: hsl(0, 0%, 90%);
    border: solid;
    border-width: 5px;
    border-radius: 15px;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0px;
}

.state {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.btn {
    height: 6rem;
    width: 10rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Bubblegum Sans', sans-serif;
    border-width: 5px;
    border-radius: 30px;
    border-color: black;
    background-color: hsl(200, 100%, 50%);
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns .btn {
    height: 3.5rem;
    width: 5rem;
}

.btn-edit {
    background-color: hsl(200, 100%, 50%);
}

.btn-edit:hover {
    background-color: hsl(200, 100%, 40%);
}

.btn-delete {
    background-color: #bb2124;
}

.btn-delete:hover {
    background-color: #a81d20;
}

.btn-start {
    background-color: #22bb33;
}

.btn-start:hover {
    background-color: #1ea82d;
}