.input-puzzle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-puzzle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-border{
    --tile-size: 100px;
    --puzzle-padding: 25px;
    
    display: grid;
    background-color: hsl(0, 0%, 83%);
    border: solid;
    border-width: 5px;
    border-radius: 15px;
    margin: 1rem;
    width: calc(var(--tile-size) * 3);
    padding: var(--puzzle-padding);
    grid-template-rows: repeat(3, var(--tile-size));
    grid-template-columns: repeat(3, var(--tile-size));
}

.puzzle-small {
    --tile-size: 70px;
    --puzzle-padding: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 1rem;
}

.input-container input {
    width: 200px;
}